<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27994800911-2aoifl3jtefot2hjtk6aeronfa5u5djn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27994800911-2aoifl3jtefot2hjtk6aeronfa5u5djn</string>
	<key>API_KEY</key>
	<string>AIzaSyBWDE6XOWvQSh2Gw1jM245cAvoTw7xI44k</string>
	<key>GCM_SENDER_ID</key>
	<string>27994800911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-hti-f26b0</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-hti-f26b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27994800911:ios:7364fac5f965e9c184b47a</string>
</dict>
</plist>